@import "tailwindcss";

@tailwind utilities;
@theme {
  --color-lightTurquoise: oklch(70.77% 0.1126 188.99);
  --color-darkBlue: oklch(27.83% 0.0544 249.54);
  --color-darkText: oklch(43.08% 0.071 224.4);
}
